.embla {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px; /* optional spacing */
  border: 5px solid white;
}

.embla__slide {
  position: relative;
  min-width: 100%;
  padding-left: 10px; /* spacing between slides */
}
